<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<add name="MyConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Projects\C#\TestProjects\LearnEF\TestDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
</configuration>

<!--Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Projects\C#\TestProjects\LearnEF\TestDB.mdf;Integrated Security=True-->